
  <section class="about section" id="about">
    <h1 class="section-title">О компании</h1>

    <div class="about_container bd-grid">
      <div class="about_img">
        <!--                    <img src="assets/img/about.jpg" alt="">-->
        <img src="assets/img/prof.png" alt="">
      </div>


      <div>

        <p class="about_text">
          АО «MaVl» является ведущей вертикально-интегрированной нефтегазовой компанией Казахстана. MaVl управляет активами по всему производственному циклу от разведки и добычи углеводородов до транспортировки, переработки и предоставления сервисных услуг. Компания основана в 2002 году и представляет интересы Республики Казахстан в нефтегазовой отрасли страны.

          Акционерами АО  «MaVl» являются Акционерное общество «Фонд национального благосостояния «Самрук-Қазына» (90,42%) и Национальный банк Республики Казахстан (9,58%).

          Компания обеспечивает 25% добычи нефти и газоконденсата в стране, а также 15% добычи природного и попутного газа. По ее магистральным трубопроводам транспортируется 56% нефти Казахстана. Доля от объема переработки нефти на НПЗ Казахстана составляет 81%.

          В 2021 году АО  «MaVl» добыло 21 651 тыс. тонн нефти и 8 081 млн м3 попутного и природного газа. Транспортировка нефти составила 74 565 тыс. тонн, а транспортировка газа с 1 января по 8 ноября 2021 года 81 851 млн м3. На НПЗ переработано 18 833 тыс. тонн нефти.

          АО «MaVl» относится к числу крупнейших работодателей с численностью персонала более 47 тыс. человек.


        </p>

      </div>
    </div>

  </section>


  <section class="about section" id="">
    <h1 class="section-title">Стратегия компании</h1>

    <div class="about_container bd-grid">
      <div class="about_img">
        <!--                    <img src="assets/img/about.jpg" alt="">-->
        <img src="assets/img/prof.png" alt="">
      </div>


      <div>

        <div class="text">

          Стратегия развития АО  «MaVl» на 2022-2031 годы



          В ноябре 2021 года Советом директоров Компании утверждена Стратегия развития АО  «MaVl» на 2022-2031 годы.



          Стратегия учитывает изменения в портфеле активов КМГ по входу в нефтегазохимический бизнес и выделению АО «КазТрансГаз» в отдельную национальную компанию в составе АО «Самрук-Казына», а также мировой тренд по энергетическому переходу на чистые источники энергии и ужесточение углеродного регулирования.

          Компания осознает важность своего влияния на экономику, экологию и общество и продолжит интеграцию принципов устойчивого развития в ключевые бизнес-процессы Компании в целях обеспечения согласованности экономических, экологических и социальных приоритетов, а также задач в области корпоративного управления.



          На ближайшие десять лет рост Компании будет обеспечен за счет прироста ресурсной базы, эффективности текущего производства, развития новых переделов, внедрения современных технологий и сокращения углеродного следа.



          Видение: Национальная вертикально-интегрированная нефтегазовая компания, отвечающая высоким стандартам безопасности и принципам устойчивого развития, ориентированная на максимизацию финансового результата.



          Миссия: Мы эффективно и рационально осваиваем природные ресурсы для обеспечения энергетической безопасности, развития и процветания Казахстана с заботой о будущих поколениях.

          <p>В соответствии с Миссией КМГ определены четыре стратегические цели.</p>
        </div>

      </div>
    </div>



    <ol>
      <li>Достаточная ресурсная база для обеспечения роста Компании</li>
      <li>Повышение эффективности цепочки стоимости Компании</li>
      <li>Диверсификация бизнеса и расширение портфеля продуктов</li>
      <li>Устойчивое развитие и поступательное снижение углеродоёмкости производстваs</li>
    </ol>
  </section>




